*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #333131;
    color: white;
    position: relative;
}

#data{
    padding: 5px;
    font-size: 1.4em;
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: right;
}

#dolar-hoje{
    padding: 10px;
    background-color: white;
    color: black;
    margin: auto;
    text-align: center;
    margin: 20px;
    font-family: 'Patua One', cursive;
    font-size: 1.2em;
}

input {
    padding: 10px;
    width: 45%;
    font-size: 1.3em;
}

input[type=button]{
    color: white;
    background-color: #0ea269;
    border: 1px solid #0ea269;
    cursor: pointer;
    transition: background-color 1s 0s ease-in-out, border-color 1s 0s ease-in-out;
    text-align: center;
}

input[type=button]:hover{
    background-color: #076d44;   
    border-color: #076d44;
}

form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

form p{
    font-size: 1.5em;
    padding: 10px;
}

h2{
    padding:  10px;  
    word-break: break-all;  
}

form div{
    border: 1px solid white;
    padding: 10px, 0;
    text-align: center;
    box-shadow: 0 0 24px white;
    border: none;
    max-width: 45%;
}

footer{
    position: fixed;
    top: calc(100vh - 44px);
    width: 100%;
    text-align: center;
}

a, a:visited{
    color: white;
    text-decoration: none;
}

a > img{
    position: relative;
    top: 8px;
}

@media screen and (max-width: 600px){
    form{
        flex-direction: column;
    }
    form div{
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 315px){
    footer{
        top: calc(100vh - 68px);
    }
}

@media screen and (min-width: 600px){

    form div{
        margin-top: 10px;
    }

    div:first-of-type{
        margin-left: 20px;
        margin-right: 20px;
    }
    div:nth-of-type(2){
        margin-right: 20px;
    }
}