*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #333131;
    color: #fff;
}

#date{
    padding: 5px;
    font-size: 1.4em;
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: right;
}

#dollar-today{
    padding: 10px;
    background: #fff;
    color: #000;
    margin: auto;
    text-align: center;
    margin: 20px;
    font-family: 'Patua One', cursive;
    font-size: 1.2em;
}

input {
    padding: 10px;
    width: 45%;
    font-size: 1.3em;
}

input[type=number]{
    background: #fff;
}

input[type=button]{
    color: #fff;
    background: #0ea269;
    border: 1px solid #0ea269;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

input[type=button]:hover{
    background: #076d44;   
    border-color: #076d44;
}

form{
    display: flex;
    justify-content: space-evenly;
}

form p{
    font-size: 1.5em;
    padding: 10px;
}

h2{
    padding:  10px;  
    word-break: break-all;  
}

form div{
    text-align: center;
    box-shadow: 0 0 24px #fff;
}

footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

a, a:visited{
    color: #fff;
    text-decoration: none;
}

a > img{
    position: relative;
    top: 8px;
}

@media screen and (max-width: 600px){
    form{
        flex-direction: column;
    }
    form div{
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
    }

}

@media screen and (min-width: 600px){
    form div{
        margin-top: 10px;
    }

    div:first-of-type{
        margin-left: 20px;
        margin-right: 20px;
    }
    div:nth-of-type(2){
        margin-right: 20px;
    }
}